
body{
    background-color:#fbfafc ;
}

*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0%;
    margin: 0%;
  
}
.imagen_portada{
    width: 7vw;
    height: 7vw;
}
.seccion_portada{
    height: 8vw;
    background-color: #8f61b7;
}
.parte_1{
    display: flex;
}
#titulo{
    color:#fbfafc;
    font-size: 200%;
    margin-left: 5%;
    align-self: center;
}
.estructura{
    width: 70%;
    height: 38.9vw;
    margin: 0 auto;
    text-align: center;

}
#pantalla{
    width: 100%;
    height: 85%;
    overflow-y: scroll;
}
.enviar{
    width: 92%;
    background-color: #e5d0f8;
    border-radius: 300px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 3px 3px 5px #b4b4b4;
   
}
#escribir{
    width: 80%;
    height: 4vw;
    resize: none;
    outline: none;
    font-size: 130%;
    padding: 0.8%;
    background-color: #e5d0f800;
    border: 1px solid #e5d0f800 ;
    color:#0d0b10;

}
#ima{
    width: 8vw;
    height: 4vw;
    background-color: #e5d0f800;
}
button{
    border: none;
    background-color: #e5d0f800;
}
.contenedor{
    display: flex;
    margin-top: 3%;
    animation-name: animacion_contenedor;
    animation-duration: 2s;

}

@keyframes animacion_contenedor{
    0%{
        transform: translate(0%,-20%);
        opacity: 0;
    }
    100%{
        transform: translate(0%,0%);
        opacity: 1;
    }
}
.a{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    margin-right: 3%;
}
.b{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    margin-left: 3%;
}
.estilo_texto{
    color: #fbfafc;
    font-size: 120%;
    align-self: center;
    background-color:#8f61b7;
    padding: 2%; 
    border-radius: 300px;
}
.estilo_texto_2{
    color: #fbfafc;
    font-size: 120%;
    align-self: center;
    background-color:#8f61b7;
    padding: 2%; 
    border-radius: 300px;
    display: flex;
}
.contenedor_texto{
    color: #fbfafc;
    font-size: 130%;
    align-self: center;
    background-color:#8f61b7;
    padding: 2%; 
    border-radius: 300px;
}
.estilo_boton{
    font-size: 110%;
    color:#fbfafc;
    background-color: #8f61b7;
    border: 1px solid #fbfafc;
    border-radius: 300px;
    padding: 2%;
    margin-top: 2%;
    box-shadow: 3px 3px 5px #7d46ad;
}

@media screen and (max-width:991px){
    .seccion_portada{
        height: 80px;
    }
    .imagen_portada{
        width: 80px;
        height: 80px;
    }
    .estructura{
        width: 90%;
        height: 140vw;
    }
    .a{
        width: 11vw;
        height: 11vw;
        align-self: center;
    }
    .b{
        width: 11vw;
        height: 11vw;
        align-self: center;
    }
    #escribir{
        height: 50px;
        font-size: 100%;
    }
    .estilo_texto{
        font-size: 100%;
        padding: 4.5%;
    }
    #ima{
        width: 30px;
        height: 30px;
    }
    .enviar{
        position: fixed; 
        bottom: 10px; 
        left: 2%; 
        z-index: 1000;
    }
    .contenedor_texto{
        font-size: 100%;
        padding: 4.5%;
    }
    .estilo_boton{
        font-size: 90%;
    }
}
@media screen and (max-width:991px) and (min-width:690px){
    .estructura{
        height: 600px;
    }
    .estilo_texto{
        font-size: 130%;
    }
    #escribir{
        font-size: 130%;
    }
    .contenedor_texto{
        font-size: 130%;
    }
    .estilo_boton{
        font-size: 110%;
    }
}